.code-snippet {
    background: var(--background-color-light) !important;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    padding: 0.2rem 0.4rem;
    border-radius: var(--spacing-1);
}

.code-block {
    position: relative;
    margin: var(--spacing-2) 0 !important;
    padding: 0;
    width: 100%;
    border-radius: var(--spacing-1);
}

.code-block-toolbar {
    position: sticky;
    top: 0;
    right: 0;
    height: 0px;
    width: 100%;
    z-index: 10;
}

.code-block-toolbar-buttons {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    height: 2rem;
    z-index: 11;
}

.code-block-button .tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
    background: black;
    color: var(--text-color-light);
    padding: 0.4rem 0.6rem;
    border-radius: var(--spacing-1);
    font-size: 0.9em;
    white-space: nowrap;
    pointer-events: none;
    transition: opacity 0.2s, visibility 0.2s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.code-block-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.code-block pre {
    position: relative;
    background: var(--background-color-light) !important;
    white-space: pre;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    padding: 1rem !important;
    margin: 0 !important;
    border-radius: var(--spacing-1);
}

.code-block code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    padding: 0 !important;
    margin: 0 !important;
    text-align: left;
    background: none;
    padding: 0;
    color: #ccc;
    background: none;
    white-space: pre;
    overflow-x: scroll;
    border-radius: var(--spacing-1);
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

.code-block code .input {
    color: #8ef;
}

.code-block.wrapped pre code {
    white-space: pre-wrap !important;
}

.code-block.collapsible pre {
    transition: max-height 0.4s cubic-bezier(0.25, 1, 0.75, 1);
    max-height: 300px;
    overflow-y: hidden;
}

.code-block.collapsible:not(.expanded)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg, var(--background-color-light), transparent);
    border-radius: var(--spacing-1);
    pointer-events: none;
}

.code-block.collapsible.expanded::after {
    display: none;
}

.code-block-button {
    background: var(--background-color-light);
    color: var(--text-color-lighter);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: var(--spacing-1);
    border: none;
    font-size: 1em;
    transition: background 0.2s, color 0.2s;
}

.code-block-button:hover {
    background: rgba(255, 255, 255, 0.1);
    color: var(--text-color);
}

.code-block pre[data-header] {
    position: relative;
}

.code-block pre[data-header] {
    padding-top: 2rem !important;
}

.code-block pre[data-header]::before {
    content: attr(data-header);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: left;
    color: rgb(255, 255, 255, 0.4);
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
    font-family: var(--font-family);
    user-select: none;
}