.button-group {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-2);
}

.flex-content {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-3);
    align-items: center;
    width: 100%;
}

.grid-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: var(--spacing-3);
    width: 100%;
}

.tile {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}

.tile>figure {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 4/3;
    overflow: hidden;
}

.tile>div {
    display: flex;
    flex-direction: column;
}

.tile * {
    margin: 0;
}

.profile-picture {
    height: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}