/* ===== Background ===== */
.background-light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 1rem;
    padding: 1rem;
    border-radius: 3rem;
    background-color: var(--background-color-light);
}

.background-light * {
    margin: 0;
}


/* ===== Layout ===== */
.flex-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    width: 100%;
}

.grid-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2rem;
    width: 100%;
}

/* ===== Animate in ===== */

.animate-in {
    animation: transition-in cubic-bezier(0.25, 1, 0.75, 1) both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

@keyframes transition-in {
    from {
        transform: translateY(5rem);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* ===== Tiles ===== */
.tile {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
    width: 100%;
}

.tile::before {
    content: '';
    position: absolute;
    background-color: var(--background-color-light);
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2), 16px 16px 32px rgba(0, 0, 0, 0.1);
    transition: transform 500ms cubic-bezier(0.25, 1.25, 0.75, 1), width 500ms cubic-bezier(0.25, 1.25, 0.75, 1), height 500ms cubic-bezier(0.25, 1.25, 0.75, 1), opacity 500ms ease;
    opacity: 0;
}

.tile:hover::before {
    transform: translate(calc(2rem / -2), calc(2rem / -2));
    width: calc(100% + 2rem);
    height: calc(100% + 2rem);
    opacity: 1;
}

.tile>figure {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 4/3;
    border-radius: 1.5rem;
    overflow: hidden;
}

.tile>figure:has(video)>* {
    position: absolute;
}

.tile>figure:has(video)>img {
    z-index: 1;
    scale: 1;
    opacity: 1;
    transition: scale 300ms cubic-bezier(0.1, 0.2, 0.2, 1), opacity 300ms cubic-bezier(0, 0.2, 0.2, 1);
}

.tile:has(video):hover>figure img {
    scale: 1.05;
    opacity: 0;
}

@media screen and (max-width: 768px) {
    .tile:hover .button {
        text-decoration: none;
        background-position: left;
        border: 1px solid transparent;
        color: var(--text-color);
    }
}

.tile>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tile * {
    margin: 0;
}

.blog.tile {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

@media screen and (max-width: 768px) {
    .blog.tile {
        flex-direction: column-reverse;
    }
}

.blog.tile>figure {
    position: relative;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;
    aspect-ratio: 4 / 3;
    height: auto;
    width: 480px;
    max-width: 100%;

    border-radius: 1.5rem;
    overflow: hidden;
}

.blog.tile h6 {
    margin-bottom: -0.75rem !important;
}

@media screen and (max-width: 768px) {
    .blog.tile>figure {
        width: 100%;
        max-height: 300px;
        min-width: unset;
        aspect-ratio: unset;
    }

    .blog.tile:hover .button {
        text-decoration: none;
        background-position: left;
        border: 1px solid transparent;
        color: var(--text-color);
    }
}

@media screen and (max-width: 768px) {
    .blog.tile:hover .button {
        text-decoration: none;
        background-position: left;
        border: 1px solid transparent;
        color: var(--text-color);
    }
}


/* ===== Profile Picture ===== */
.profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    aspect-ratio: 1/1;
    user-select: none;
    cursor: pointer;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    corner-shape: round;
}

.profile-popup {
    position: absolute;
    top: 95%;
    font-size: 1em;
    font-weight: 300;
    text-wrap: nowrap;
    padding: 0.25em 0.5rem;
    z-index: 1;
    opacity: 0;
    border-radius: 9999px;
    background-color: black;
}

.profile-popup-text {
    display: block;
    background: linear-gradient(135deg, var(--primary-color-light), var(--secondary-color-light), var(--primary-color-light), var(--secondary-color-light));
    background-size: 300% 100%;
    background-clip: text;
    animation: popup-text-cycle 3s linear infinite;
}

@keyframes popup-text-cycle {
    from {
        background-position: left;
    }

    to {
        background-position: right;
    }
}


.profile-popup::before {
    content: '';
    position: absolute;
    background-color: black;
    height: 10px;
    width: 10px;
    top: -5px;
    left: calc(50% - 5px);
    rotate: 45deg;
    z-index: -1;
}

/* ===== Mouse Trailer ===== */
.mouse-trailer-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
    overflow: hidden;
}

.mouse-trailer {
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    corner-shape: round;
    z-index: 1;
    background: linear-gradient(120deg, var(--primary-color, #f73878), var(--secondary-color, #5c00dd));

    animation: mouse-trailer 10s infinite linear;
}

@keyframes mouse-trailer {
    0% {
        transform: rotateZ(0deg) scale(1, 1);
    }

    50% {
        transform: rotateZ(360deg) scale(1, 1.5);
    }

    100% {
        transform: rotateZ(720deg) scale(1, 1);
    }
}