/* Home banner gradient */
#banner-background {
    background: var(--background-gradient);
    height: 100vh;
    z-index: 1;
    overflow: hidden;
}

#banner-background canvas {
    width: 100vw;
    height: 100vh;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

#banner-text {
    z-index: 10;
}

#banner-text * {
    margin: 0;
}

#banner-text p {
    font-size: 1.25em;
    font-weight: 300;
}

#banner-text h1 {
    font-size: 6em;
    font-weight: 900;
    letter-spacing: 0.025em;
    line-height: 1;

    @media screen and (max-width: 1080px) {
        font-size: 5em;
    }

    @media screen and (max-width: 768px) {
        font-size: 4.5em;
    }

    @media screen and (max-width: 640px) {
        font-size: 3.25em;
    }
}

#banner-text h3 {
    font-size: 2em;
    margin-top: 10px;
    font-weight: 300;
    line-height: 1.25;
    text-align: right;

    @media screen and (max-width: 768px) {
        font-size: 1.4em;
    }

    @media screen and (max-width: 640px) {
        font-size: 1.2em;
    }
}

#banner-arrow {
    position: absolute;
    left: 50%;
    bottom: var(--spacing-3);
    transform: translateX(-50%);
    z-index: 2;
}

#banner-arrow:hover {
    cursor: pointer;
}

#banner-arrow i {
    font-size: 2rem;
    transition: color 0.3s ease;
    color: var(--text-color-light);
    animation: chevron-bounce 2.5s infinite cubic-bezier(0.25, 0.75, 0.5, 1.0);
}

#banner-arrow:hover i {
    color: var(--text-color);
}

@keyframes chevron-bounce {
    0% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(0.5rem);
    }

    20% {
        transform: translateY(0.25rem);
    }

    30% {
        transform: translateY(0.5rem);
    }

    100% {
        transform: translateY(0);
    }
}


/* Introduction Section */
#introduction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-2);
    padding: var(--spacing-2);
    border-radius: var(--spacing-2);
    background-color: var(--background-color-light);

    @media screen and (max-width: 640px) {
        flex-direction: column;
    }
}

#introduction * {
    margin: 0;
}

#introduction p {
    font-size: 1.25em;
    font-weight: 300;
    color: var(--text-color-light);
}